#control{overflow:hidden;width:1870px;height:1640px;position:absolute;z-index:1000;}
#video-feed{overflow:hidden;width:467px;height:232px;position:absolute;z-index:1;background-image:url(http://placekitten.com/480/271);}
