#control{overflow:hidden;width:1680px;height:1470px;position:absolute;z-index:1000;}
#video-feed{overflow:hidden;width:480px;height:270px;position:absolute;z-index:1;background-image:url(http://placekitten.com/480/271);}
