#control{overflow:hidden;width:1880px;height:1670px;position:absolute;z-index:1000;}
#video-feed{overflow:hidden;width:470px;height:260px;position:absolute;z-index:1;background-image:url(http://placekitten.com/480/271);}
